.posterImage{
    max-height: 400px;
    position: relative;
  }
/* .content_start::before{
    position: absolute;
    content: 'â­';
    top: -30px;
    left: 50px;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 4rem;
  } */
  
  .posterImage > img {
    margin: auto;
    display: block;
    height: 400px;
    width: 100%;
  }
  
  .posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgba(3, 93, 0, 0.7));
    opacity: 1;
    transition: opacity .3s;
  }   

